.grid {
  margin-left: -8px;
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  @media (min-width: 768px) {
    margin-left: -18px;
  }
}
.gridItem {
  padding-left: 8px;
  @media (min-width: 768px) {
    padding-left: 18px;
  }
}
.btnWrap {
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
}
