.grid {
  margin: -8px 0px 0px -8px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 28px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gridItem {
  padding: 8px 0px 0px 8px;
}
.btnWrap {
  display: flex;
  justify-content: center;
}
