.grid {
  margin: -8px 0px 0px -8px;
  padding: 0;

  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.gridItem {
  padding: 8px 0px 0px 8px;
}
.btnWrap {
  margin-top: 15px;
  display: flex;
  justify-content: center;
}
