.btn {
  border: none;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  cursor: pointer;
  font-size: 1.6em;
  color: white;
  width: 106px;
  height: 54px;
  border-radius: 8px;
  position: relative;
  text-align: center;

  &:disabled {
    cursor: initial;
    color: black;
  }
}
.btnTop,
.btnBottom {
  height: 48px;
  width: 100%;
  position: absolute;
  border-radius: 8px;
  left: 0;
}
.btnTop {
  background: rgba(255, 116, 38, 1);
  top: 0px;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: top 0.1s ease-in;
}
.btn:disabled .btnTop {
  background: rgba(211, 211, 211, 1);
}
.btn:disabled .btnBottom {
  background: rgba(193, 193, 193, 1);
}

.btnBottom {
  background: #d15711;
  bottom: 0px;
}
.btn:hover:not(:disabled) .btnTop {
  top: 3px;
}
.btn:active:not(:disabled) .btnTop {
  top: 6px;
}
