.coverOuter {
  border: 15px solid rgba(255, 197, 116, 0.95);
  margin: 0px auto;
  border-radius: 15px;
  width: 325px;
  height: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  @media (min-width: 1024px) {
    width: 400px;
    height: 535px;
  }
}

.cover {
  background: repeating-linear-gradient(
    45deg,
    #dac4b0,
    #dac4b0 30px,
    #e0cebe 30px,
    #d7bfa9 50px
  );
}

.logo--big {
  font-size: 6em;
  margin: 0 auto;
  width: 100%;
  text-align: center;
}
