.collectionList {
  background: var(--theme--bg);
  margin: 0 auto;
  display: grid;
  list-style: none;
  justify-items: center;
  align-items: center;
  grid-gap: 8px;
  grid-template-columns: repeat(5, 1fr);
  padding: 0;
  overflow-y: auto;
  height: 210px;
  @media (min-width: 768px) {
    grid-template-columns: repeat(auto-fit, minmax(64px, 1fr));
    grid-gap: 18px 0px;
  }
}
.accordionGroup {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: center;
}

.collectionList--empty {
  font-size: 1.5em;
  letter-spacing: 0.03em;
  line-height: 1.25em;
  grid-column-start: 1;
  grid-column-end: span 5;
}
