.collectionList {
  margin: 0 auto;
  display: grid;
  list-style: none;
  justify-items: center;
  align-items: center;
  grid-gap: 5px;
  padding: 5px 15px;
  grid-template-columns: repeat(5, 1fr);
  @media (min-width: 768px) {
    padding: 0 5px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    padding: 10px;
    grid-gap: 15px 0px;
    margin: 0 auto;
    height: 300px;
    overflow-y: scroll;
    .collectionList > li {
      font-size: 0.8em;
    }
  }
}
