.btn {
  display: flex;
  margin: 0px auto;
  border-radius: 8px;
  border: none;
  padding: 10px;
  font-family: "Teko", sans-serif;
  font-weight: 400;
  justify-content: center;
}

.btn--newData {
  background: rgba(255, 116, 38, 1);
  font-size: 1.6em;
  color: white;
  margin: 0 auto;
  width: 125px;
  box-shadow: 0px 8px 0px #d15711;
}
.btnContainer {
  width: 340px;
  margin: 0 auto 15px;
}

.btn:hover {
  cursor: pointer;
  background: repeating-linear-gradient(
    45deg,
    rgba(218, 196, 176, 0.65),
    rgba(218, 196, 176, 0.65) 30px,
    rgba(224, 206, 190, 0.65) 30px,
    rgba(215, 191, 169, 0.65) 50px
  );
}
.newCardTitle {
  padding: 20px 20px 0;
  font-weight: 500;
  font-size: 1em;
  @media (min-width: 768px) {
    padding: 25px 25px 0;
  }
}
.newDeck {
  margin: -8px 0px 0px -8px;
  padding: 0;
  padding-top: 20px;
  padding-bottom: 28px;
  list-style: none;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.newDeck__miniCard {
  padding: 8px 0px 0px 8px;
}
