.title {
  font-family: "Expletus Sans", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 2.7em;
  margin: 10px auto;
  line-height: 1em;
}
.btn {
  display: flex;
  margin: 0px auto;
  border-radius: 1em;
  border: 3px solid rgba(255, 197, 116, 1);
  padding: 10px;
  font-family: "Expletus Sans", cursive;
  font-weight: 500;
  justify-content: center;
}

.btn--newData {
  background: orange;
  font-size: 1.1em;
  padding: 10px 20px;
  width: 80%;
  margin: 5px auto;
}
.btnContainer {
  width: 340px;
  margin: 0 auto 15px;
}

.btn:hover {
  cursor: pointer;
  background: repeating-linear-gradient(
    45deg,
    rgba(218, 196, 176, 0.65),
    rgba(218, 196, 176, 0.65) 30px,
    rgba(224, 206, 190, 0.65) 30px,
    rgba(215, 191, 169, 0.65) 50px
  );
}
.newCardTitle {
  padding: 5px 20px 0;
  font-weight: 500;
}
.newDeck {
  padding: 0 20px;
  list-style: none;
  display: flex;
  justify-content: space-evenly;
}
