h4,
h3 {
  margin: 0;
  padding: 0;
}
.title {
  font-family: "Expletus Sans", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  margin: 20px auto;
}
.outer {
  border: 15px solid rgba(255, 197, 116, 0.95);
  margin: 10px auto;
  border-radius: 15px;
  width: 350px;
  height: 525px;
  display: flex;
  flex-direction: column;
  @media (min-width: 768px) {
    width: 400px;
    height: 535px;
  }
}

.latinName {
  font-size: 0.75em;
  text-align: center;
  margin: 0 20px;
  padding: 5px 0;
  border-top: 2px solid rgba(255, 149, 0, 0.75);
}
.name {
  text-align: center;
  font-size: 1.15em;
  padding-bottom: 5px;
  white-space: nowrap;
  font-family: "Expletus Sans", cursive;
  font-style: italic;
  font-weight: 700;
  flex: 1 1 auto;
}
.nameYear {
  display: flex;
  justify-content: end;
}
.logo {
  flex-basis: 20%;
}
.yr {
  flex-basis: 20%;
  text-align: end;
}
.animalContainer {
  width: 285px;
  height: 200px;
  overflow: hidden;
  margin: 0 auto;
  border: 10px solid rgb(194, 152, 111);
  box-shadow: 4px 5px 8px rgb(105, 105, 105);
  @media (min-width: 768px) {
    width: 325px;
    height: 220px;
  }
}
.animalImg {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top center;
  background: rgba(255, 149, 0, 0.85);
}
//fish
.bg--fish {
  background: rgb(58, 86, 117);
  background: radial-gradient(
    circle,
    rgb(210, 228, 244) 0%,
    rgb(201, 215, 230) 50%,
    rgb(167, 192, 220) 75%,
    rgb(99, 179, 249) 100%
  );
}
//fall back color
.bg--default {
  background: rgb(186, 162, 162);
  background: radial-gradient(
    circle,
    rgb(187, 143, 143) 0%,
    rgb(223, 184, 184) 50%,
    rgb(187, 135, 135) 75%,
    rgb(147, 94, 94) 100%
  );
}
// REPTILES grey ???
.bg--reptile {
  background: rgb(96, 97, 98);
  background: radial-gradient(
    circle,
    rgb(187, 185, 185) 0%,
    rgb(131, 129, 129) 50%,
    rgb(163, 162, 162) 75%,
    rgb(107, 107, 107) 100%
  );
}

//Amphibian GREEEN/navy
.bg--amphibian {
  background: rgb(39, 154, 85);
  background: radial-gradient(
    circle,
    rgba(39, 154, 85, 1) 0%,
    rgba(89, 155, 115, 1) 15%,
    rgba(136, 180, 154, 1) 50%,
    rgba(20, 99, 51, 1) 100%
  );
}

// MAMMALS brown/orange?
.bg--mammal {
  background: rgb(186, 162, 162);
  background: radial-gradient(
    circle,
    rgba(186, 162, 162, 1) 0%,
    rgb(217, 191, 191) 50%,
    rgb(198, 179, 179) 75%,
    rgb(140, 109, 109) 100%
  );
}
//BIRD yellow
.bg--bird {
  background: rgb(255, 247, 148);
  background: radial-gradient(
    circle,
    rgba(255, 253, 229, 1) 0%,
    rgb(240, 239, 219) 45%,
    rgb(234, 231, 183) 70%,
    rgb(249, 251, 107) 100%
  );
}

.physicalInfo {
  display: flex;
  font-size: 0.7em;
  align-items: center;
  justify-content: center;
  background: rgb(255, 200, 122);
  background: linear-gradient(
    90deg,
    rgb(244, 188, 109) 0%,
    rgb(252, 233, 194) 50%,
    rgb(243, 187, 109) 100%
  );
  color: black;
  margin: 10px auto 0;
  padding: 0.5em 7px;
  white-space: nowrap;
  @media (min-width: 768px) {
    width: 85%;
  }
}
.physicalInfo > * {
  margin: 0 2px;
}
.mainInfo {
  flex: 1 1 auto;
  padding: 5px 10px;
  margin: 0px 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  border-bottom: 2px solid rgb(255, 149, 0);
  font-size: 0.9em;
  line-height: 1.25em;
}
.mainInfo > * {
  padding: 3px 0;
}
.info_element {
  font-weight: 500;
}

.cardNum {
  display: block;
  text-align: right;
  font-size: 0.7em;
  padding: 3px 10px 0;
}

.hidden {
  display: none;
}
.front {
  display: flex;
  flex-direction: column;
  flex: 1;
  padding: 5px;
}
.cover {
  background: repeating-linear-gradient(
    45deg,
    #dac4b0,
    #f5f5dc 20px,
    #465298 20px,
    #465298 40px
  );
}
