.cardMini {
  width: 40px;
  height: 50px;
  border: none;
  border-radius: 8px;
  display: flex;
  padding: 8px;
  cursor: pointer;
  background-size: 150% 150%;
  background-position: center;
  @media (min-width: 768px) {
    width: 48px;
    height: 60px;
  }
}
.cardMini__inner {
  background-color: rgba(100, 99, 99, 0.554);
  height: 18px;
  width: 24px;
  margin: 0 auto;
  border: none;
  @media (min-width: 768px) {
    width: 32px;
    height: 24px;
  }
}
.cardMini__unknown {
  width: 40px;
  height: 50px;
  border: none;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background: rgba(214, 214, 214, 0.5);
  font-weight: 500;
  font-size: 1em;
  font-family: "Teko", sans-serif;
  @media (min-width: 768px) {
    width: 48px;
    height: 60px;
  }
}
.active {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 2px solid rgb(171, 69, 10);
  background: rgb(171, 69, 10);
  padding: 1px;
  border-radius: 10px;
  overflow: hidden;
}
