* {
  box-sizing: border-box;
}

.collectionAccordian {
  padding: 25px;
  padding-bottom: 16px;
  text-align: left;
  font-weight: 500;
  width: 100%;
  font-family: "Raleway", cursive;
  font-size: 1em;
  cursor: pointer;
  border: none;
}
.collectionList {
  margin: 0 auto;
  display: grid;
  list-style: none;
  justify-items: center;
  align-items: center;
  grid-gap: 5px;
  padding: 5px 15px;
  grid-template-columns: repeat(5, 1fr);
}
.collectionContainer {
  min-width: 360px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .activeDisplay {
    display: flex;
    justify-content: space-evenly;
    /* align-items: center; */
  }

  .cardMain {
    flex-basis: 40%;
  }
  .newCard__Collection {
    flex-basis: 50%;
  }
  .collectionList {
    padding: 0 5px;
    grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
    padding: 10px;
    grid-gap: 15px 0px;
    margin: 0 auto;
    height: 390px;
    overflow-y: scroll;
  }
  .collectionList > li {
    font-size: 0.8em;
  }
}

.cardMini__unknown {
  width: 65px;
  height: 80px;
  border: 3px dashed rgba(255, 197, 116, 1);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(214, 214, 214, 0.5);
  font-weight: 500;
  font-size: 1.1em;
}
