* {
  box-sizing: border-box;
}

.title {
  font-family: "Expletus Sans", cursive;
  font-weight: 700;
  font-size: 2.7em;
  margin: 10px auto;
  line-height: 1em;
  text-transform: uppercase;
}
.collectionContainer {
  min-width: 360px;
  margin: 10px auto;
}
@media (min-width: 767px) {
  .collectionContainer {
    margin: 0px auto;
  }
}

.activeDisplay {
  padding: 10px 5px;
}
@media (min-width: 768px) {
  .activeDisplay {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  .cardMain {
    flex-basis: 40%;
  }
  .collectionContainer {
    flex-basis: 40%;
  }
}

.cardMini__unknown {
  width: 65px;
  height: 80px;
  border: 3px dashed rgba(255, 197, 116, 1);
  border-radius: 1em;
  display: flex;
  justify-content: center;
  padding: 20px;
  background: rgba(214, 214, 214, 0.5);
  font-weight: 500;
  font-size: 1.1em;
}
