* {
  box-sizing: border-box;
}
.appOuter {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title {
  font-family: "Expletus Sans", cursive;
  text-align: center;
  font-weight: 700;
  font-size: 2.7em;
  margin: 0 auto;
  line-height: 1em;
  text-transform: uppercase;
}
.collectionContainer {
  min-width: 325px;
  margin: 10px auto;
  padding-top: 16px;
  width: 100%;
}

@media (min-width: 767px) {
  .collectionContainer {
    margin: 0px auto;
  }
}
.activeDisplay {
  --theme-bg: white;
  --theme-color: black;
  padding: 10px 24px;
}

.activeDisplay--dark {
  --theme-bg: black;
  --theme-color: white;
  background: black;
}

@media (min-width: 768px) {
  .activeDisplay {
    display: grid;
    padding: 0 20px;
    width: 100%;
  }
  .cardMain {
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .collectionContainer {
    grid-column-start: 8;
    grid-column-end: 13;
  }
}
@media (min-width: 1024px) {
  .activeDisplay {
    grid-template-columns: repeat(12, 1fr);
    grid-gap: 20px;
    padding: 0 75px;
  }
}
@media (min-width: 1440px) {
  .activeDisplay {
    padding: 0 190px;
  }
}
