.accordion__button {
  width: 100%;
  cursor: pointer;
  border: none;
  background: inherit;
  display: flex;
  justify-content: space-between;
  font-family: "Teko", sans-serif;
  font-size: 2.5em;
  text-transform: uppercase;
  font-weight: 500;
}
.accordion {
  display: flex;
  flex-direction: column;
  background: rgba(239, 239, 239, 1);
  margin-bottom: 16px;
  border-radius: 8px;
  padding: 10px 18px;
}
.accordion__detail {
  padding-top: 15px;
  padding-bottom: 15px;
}
