.collectionAccordian {
  padding: 25px;
  padding-bottom: 16px;
  text-align: left;
  font-weight: 500;
  width: 100%;
  font-family: "Raleway", cursive;
  font-size: 1em;
  cursor: pointer;
  border: none;
}
